.index{
    .topWrap{
        background: #fff;
        width: 750px;
        height: 680px;
        .image_wrap{
            display: flex;
            justify-content: center;
            image{
                margin-top: 68px;
            }
        }
        .text_wrap{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .text_color{
                color:#999999
            }
            .text_wrap_first{
                width: 120px;
                height: 56px;
                font-size: 40px;
                font-weight: 600;
                margin-top: 64px;
            }
            .text_wrap_second{
                font-size: 32px;
                margin-top: 34px;
            }
            .text_wrap_third{
                font-size: 32px;
            }
        }
    }
    .bottomWrap{
        width: 750px;
        height: 356px;
        background: #fff;
        margin-top: 12px;
        padding-top: 1px;
        .text_wrap_two{
            color: #999999;
        }
        .text_wrap_first{
            width: 128px;
            height: 44px;
            font-size: 32px;
            margin-top: 34px;
            margin-left: 48px;
        }
        .text_wrap_second{
            font-size: 28px;
            margin-top: 36px;
            margin-left: 104px;
        }
        .text_wrap_third{
            font-size: 28px;
            margin-top: 16px;
            margin-left: 48px;
        }
        .text_wrap_fouth{
            font-size: 28px;
            margin-top: 16px;
            margin-left: 48px;
        }
        .text_wrap_fifth{
            font-size: 28px;
            margin-top: 16px;
            margin-left: 48px;
        }
    }
}
