.index{
  background: #fff;
  height: 100vh;
  .top_pic{
    image{
      width: 100%;
      height: 360px;
    }
  }
  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .my_deposit{
      width: 620px;
      height: 180px;
      border: 1px solid #F5F5F5;
      /* box-shadow: 1px 1px 1px #888888; */
      margin-top: 64px;
      /* background: pink; */
      display: flex;
      align-items: center;
      .deposit_pic{
        margin-left: 48px;
        margin-right: 40px;
      }
      .my_deposit_desc{
        .my_deposit_desc_first{
          color:#333333;
          font-size: 42px;
          font-family:PingFangSC-Medium;
          font-weight: 558;
        }
        .my_deposit_desc_second{
          color:#999999;
          font-family:PingFangSC-Regular;
        }
      }
      .my_deposit_arrow{
        margin-left: 161px;
        display: block;
        image{
          width: 18px;
          height: 18px;
        }
      }
    }
    .deposit_order{
      width: 620px;
      height: 180px;
      border: 1px solid #F5F5F5;
      /* box-shadow: 1px 1px 1px #888888; */
      margin-top: 40px;
      /* background: pink; */
      display: flex;
      align-items: center;
      .deposit_pic{
        margin-left: 48px;
        margin-right: 40px;
      }
      .my_deposit_desc{
        .my_deposit_desc_first{
          color:#333333;
          font-size: 42px;
          font-family:PingFangSC-Medium;
          font-weight: 558;
        }
        .my_deposit_desc_second{
          color:#999999;
          font-family:PingFangSC-Regular;
        }
      }
      .my_deposit_arrow{
        margin-left: 183px;
        display: block;
        image{
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}
