.index{
  background: #fff;
  height: 100vh;
  .top_pic{
    image{
      width:750px;
      height:360px;
      background:rgba(48,70,215,1);
      opacity:1;
    }
  }
  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .my_deposit{
      width:630px;
      height:180px;
      background:rgba(255,255,255,1);
      box-shadow:0px 0px 16px rgba(0,0,0,0.06);
      opacity:1;
      border-radius:8px;
      /* box-shadow: 1px 1px 1px #888888; */
      margin-top: 64px;
      /* background: pink; */
      display: flex;
      align-items: center;
      padding: 58px 48px 40px 48px;
      .deposit_pic{
        margin-left: 48px;
        margin-right: 40px;
      }
      .my_deposit_desc{
        .my_deposit_desc_first{
          width:128px;
          height:44px;
          font-size:32px;
          font-family:PingFangSC-Medium;
          line-height:48px;
          color:rgba(51,51,51,1);
          opacity:1;
          margin-bottom: 12px;
          font-weight: 800;
        }
        .my_deposit_desc_second{
          width:192px;
          height:34px;
          font-size:24px;
          font-family:PingFangSC-Regular;
          line-height:32px;
          color:rgba(153,153,153,1);
          opacity:1;
        }
      }
      .my_deposit_arrow{
        margin-left: 161px;
        display: block;
        image{
          width: 18px;
          height: 18px;
        }
      }
    }
    .deposit_order{
      width:630px;
      height:180px;
      background:rgba(255,255,255,1);
      box-shadow:0px 0px 16px rgba(0,0,0,0.06);
      opacity:1;
      border-radius:8px;
      margin-top: 40px;
      /* background: pink; */
      display: flex;
      align-items: center;
      padding: 58px 48px 40px 48px;
      .deposit_pic{
        margin-left: 48px;
        margin-right: 40px;
      }
      .my_deposit_desc{
        .my_deposit_desc_first{
          width:128px;
          height:44px;
          font-size:32px;
          font-family:PingFangSC-Medium;
          line-height:48px;
          color:rgba(51,51,51,1);
          opacity:1;
          margin-bottom: 12px;
          font-weight: 700;
        }
        .my_deposit_desc_second{
          width:168px;
          height:34px;
          font-size:24px;
          font-family:PingFangSC-Regular;
          line-height:32px;
          color:rgba(153,153,153,1);
          opacity:1;
        }
      }
      .my_deposit_arrow{
        margin-left: 183px;
        display: block;
        image{
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}
