.index{
  width:750px;
  height:1204px;
  background:rgba(255,255,255,1);
  opacity:1;
  padding: 46px 48px 798px 48px;
  .success_card{
    width:654px;
    height:360px;
    background:linear-gradient(360deg,rgba(255,176,18,1) 0%,rgba(255,202,42,1) 100%);
    opacity:1;
    border-radius:16px;
    display: flex;
    flex-direction: column;
    padding: 66px 80.35px 30px 48px;
    position: relative;
    .success_top{
      display: flex;
      .success_card_avatar{
        image{
          width:144px;
          height:144px;
          background:rgba(0,0,0,0);
          border:4px solid rgba(255,255,255,1);
          box-shadow:0px 0px 16px rgba(0,0,0,0.1);
          border-radius:50%;
          opacity:1;
        }
      }
      .success_card_info{
        display: flex;
        flex-direction: column;
        padding: 22px 0 0 42px;
        .success_card_info_name{
          width:222px;
          height:50px;
          font-size:36px;
          font-family:PingFangSC-Medium;
          line-height:52px;
          color:rgba(113,77,9,1);
          opacity:1;
        }
        .success_card_info_idnumber{
          width:282px;
          height:44px;
          font-size:32px;
          font-family:PingFangSC-Regular;
          line-height:48px;
          color:rgba(142,102,11,1);
          opacity:1;
          margin-top: 10px;
        }
      }
    }
    .success_botom{
      display: flex;
      flex-direction: row;
      margin-top: 64px;
      .success_botom_img{
        image{
          opacity:1;
        }
      }
      .success_botom_desc{
        width:288px;
        height:44px;
        font-size:32px;
        font-family:PingFangSC-Regular;
        line-height:48px;
        color:rgba(142,102,11,1);
        opacity:1;
        margin-left: 4px;
      }
    }
    .success_card_pic{
      position: absolute;
      bottom: 32px;
      right: 30px;
      image{
        width:159px;
        height:132px;
        opacity:1;
      }
    }
  }
}
