// .index {
//   height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   .title {
//     height: 80px;
//     line-height: 80px;
//     text-align: center;
//     margin-top: 20px;
//     margin-bottom: 15px;
//     font-size: 56px;
//   }
//   .formWrap {
//     display: flex;
//     .input {
//       // line-height: 80px;
//       margin-top: 20px;
//       text-align: center;
//       flex-wrap: nowrap;
//       width: 90%;
//       .at-input__container {
//         display: flex;
//         .at-input__title {
//           display: flex;
//           flex-wrap: nowrap;
//           flex-direction: row;
//         }
//         .at-input__input {
//           line-height: 80px;
//           height: 80px;
//           padding-left: 15px;
//           margin-left: 15px;
//         }
//         .placeholder {
//           line-height: 80px;
//           height: 80px;
//         }
//       }
//     }
//   }
//   .buttonView {
//     width: 90%;
//   }
//   .btn-max-w {
//     margin-top: 30px;
//     width: 100%;
//     border: none;
//     text-align: center;
//     align-items: center;
//   }
//   .btn-max-y {
//     margin-top: 30px;
//     margin-bottom: 30px;
//     background-color: #ffab0a;
//     /*  height: 60px;
//     line-height: 60px; */
//     border: none;
//     text-align: center;
//     justify-content: center;
//     /* font-weight: bold; */
//   }
// }
// .index {
//   height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   .title {
//     height: 80px;
//     line-height: 80px;
//     text-align: center;
//     margin-top: 20px;
//     margin-bottom: 5px;
//   }
//   .formWrap {
//     display: flex;
//     .at-form {
//       padding-bottom: 17px;
//       padding-top: 10px;
//     }
//     .page-section {
//       position: relative;
//       picker {
//         display: flex;
//         font-size: 35px;
//         padding-left: 67px;
//         padding-bottom: 20px;
//         margin-top: 39px;
//         /*  background: pink; */
//         border-bottom: 1px solid #eaeaea;
//         .txt {
//           margin-right: 140px;
//         }
//       }
//     }
//     .input {
//       /* width: 600px;
//       height: 80px; */
//       // line-height: 80px;
//       // padding-left: 38px;
//       text-align: center;
//       flex-wrap: nowrap;
//       .at-input__container {
//         display: flex;
//         .at-input__title {
//           display: flex;
//           flex-wrap: nowrap;
//           flex-direction: row;
//         }
//         .at-input__input {
//           line-height: 80px;
//           height: 80px;
//           padding-left: 15px;
//           margin-left: 15px;
//         }
//         .placeholder {
//           line-height: 80px;
//           height: 80px;
//         }
//       }
//     }
//   }
// }
.index{
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 56px;
  }
  .formWrap {
    display: flex;
    at-form{
      .at-form{
        padding-top: 55px;
        padding-bottom: 88px;
        padding-left: 58px;
        padding-right: 58px;
      }
    }
    .page-section{
      width: 95%;
      // background-color: pink;
      margin-left: 29px;
      margin-top: 29px;
      margin-bottom: 19px;
      padding-bottom: 29px;
      border-bottom: 1px solid #eaeaea;
      font-size: 32px;
      text{
        margin-right: 52px;
      }
    }
  }
  .buttonView {
    width: 90%;
    margin-top: 30px;
    font-weight: bold;
  }
}