
.index{
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 56px;
  }
  .formWrap {
    display: flex;
    at-form{
      .at-form{
        padding-top: 55px;
        padding-bottom: 88px;
        padding-left: 58px;
        padding-right: 58px;
      }
    }
    .page-section{
      width: 95%;
      // background-color: pink;
      margin-left: 29px;
      margin-top: 29px;
      margin-bottom: 19px;
      padding-bottom: 29px;
      border-bottom: 1px solid #eaeaea;
      font-size: 32px;
      text{
        margin-right: 52px;
      }
    }
  }
  .buttonView {
    width: 90%;
    margin-top: 30px;
    font-weight: bold;
  }
}
