

.index {
   display: flex;
   flex-direction: column;
   align-items: center;
   .uploadAvatar {
     display: block;
     margin-top: 20px;
     margin-bottom: 20px;
     .at-avatar {
       width: 160px;
       height: 160px;
     }
   }
   .formWrap{
   	.at-form{
   		padding-left: 48px;
   		padding-right: 48px;
   		padding-top: 36px;
   		padding-bottom: 91px;
   	}
   	.page-section{
      width: 95%;
      margin-left: 29px;
      margin-top: 36px;
      margin-bottom: 19px;
      padding-bottom: 34px;
      border-bottom: 1px solid #eaeaea;
      font-size: 32px;
      text{
        margin-right: 114px;
      }
    }

   }
   .buttonView {
    width: 91%;
    margin-top: 30px;
    font-weight: bold;
  }
}
