.index {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
  }
  .formWrap {
    display: flex;
    .input {
      width: 600px;
      height: 80px;
      line-height: 80px;
      margin-top: 50px;
      padding-left: 38px;
      text-align: center;
      flex-wrap: nowrap;
      .at-input__container {
        display: flex;
        .at-input__title{
          display: flex;
          flex-wrap: nowrap;
          flex-direction: row;
        }
        .at-input__input{
          line-height: 80px;
          height: 80px;
          padding-left: 15px;
          margin-left: 15px;
        }
        .placeholder{
          line-height: 80px;
          height: 80px;
        }
      }
      
    }
    .btn-max-w {
      margin-top: 50px;
      border: none;
      text-align: center;
      align-items: center;
    }
    .btn-max-y {
      margin-top: 50px;
      height: 60px;
      line-height: 60px;
      border: none;
      text-align: center;
      justify-content: center;
      font-weight: bold;
    }
  }
}
.index {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
  }
  .formWrap {
    display: flex;
    .input {
      width: 600px;
      height: 80px;
      line-height: 80px;
      margin-top: 50px;
      padding-left: 38px;
      text-align: center;
      flex-wrap: nowrap;
      .at-input__container {
        display: flex;
        .at-input__title{
          display: flex;
          flex-wrap: nowrap;
          flex-direction: row;
        }
        .at-input__input{
          line-height: 80px;
          height: 80px;
          padding-left: 15px;
          margin-left: 15px;
        }
        .placeholder{
          line-height: 80px;
          height: 80px;
        }
      }
      
    }
    .btn-max-w {
      margin-top: 50px;
      border: none;
      text-align: center;
      align-items: center;
    }
    .btn-max-y {
      margin-top: 50px;
      height: 60px;
      line-height: 60px;
      border: none;
      text-align: center;
      justify-content: center;
      font-weight: bold;
    }
  }
}
